@use "../code/variables" as *;
@use "../code/mixins" as *;

:root {
    color-scheme: light dark;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    @include light-dark-theme;
    width: 100%;
}

@media (max-width: 768px) {
    #mainIndex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
        }
    }

    #images {
        width: 75%;
        border-radius: 10px;
        @include section-styling;
        padding: 0 10px 10px 10px;


        img {
            width: 100%;
        }

        p {
            @include text-format-s;
        }
    }

    #mainSASS {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1,
        h2 {
            text-align: center;
        }

        article {
            @include section-styling;
            border-radius: 15px;
            width: 75%;
            padding: 0 10px 10px 10px;
        }

        p {
            margin-left: 1rem;
            @include text-format-s;
        }
    }

    #mainAnimation {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 0;
    }    

    .animationImg {
        opacity: 0;
        position: absolute;
        animation: show-thinking 3s 6s alternate 2;
        left: 22%;
    }

    @media (prefers-color-scheme: dark) {
        #headerAnimations{
        .header2-1 {
            pointer-events: none;
            color: #121212;
            animation: dark-heading-animation 2s 2s alternate 2;
        }

        .header2-2 {
            color: #121212;
            animation: dark-heading-animation 3s 6s alternate 2;
        }

        .header2-3 {
            color: #121212;
            animation: dark-heading-animation 2s 12s forwards;
        }
    }
    }
    @media (prefers-color-scheme: light) {
        #headerAnimations {
        .header2-1 {
            pointer-events: none;
            color: #e3e3e3;
            animation: light-heading-animation 2s 2s alternate 2;
        }

        .header2-2{
            pointer-events: none;
            color: #e3e3e3;
            animation: light-heading-animation 3s 6s alternate 2;
        }

        .header2-3 {
            pointer-events: none;
            color: #e3e3e3;
            animation: light-heading-animation 2s 12s forwards;
        }
    }
}


}

#loadingBar {
    padding: 15px;
    width: 75%;
    color: #121212;
    transition: width 4s;
}

#loadingBar:hover {
    width: 300px;
}


@media (min-width:768px) and (max-width: 1200px) {
    #mainIndex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
        }
    }

    #images {
        width: 75%;
        border-radius: 10px;
        color: light-dark(#000000, #FFFFFF);
        background-color: light-dark(#CACACA, #2C2C2C);
        padding: 0 10px 10px 10px;


        img {
            width: 100%;
        }

        p {
            @include text-format-m;
        }
    }

    #mainSASS {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1,
        h2 {
            text-align: center;
        }

        article {
            @include section-styling;
            border-radius: 15px;
            width: 75%;
            padding: 0 10px 10px 10px;
        }

        p {
            @include text-format-m;
        }
    }
}

@media (min-width: 1200px) {
    #mainIndex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
        }
    }

    #images {
        width: 75%;
        border-radius: 10px;
        color: light-dark(#000000, #FFFFFF);
        background-color: light-dark(#CACACA, #2C2C2C);
        padding: 0 10px 10px 10px;


        img {
            width: 100%;
        }

        p {
            @include text-format-l;
        }
    }

    #mainSASS {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1,
        h2 {
            text-align: center;
        }

        article {
            @include section-styling;
            border-radius: 15px;
            width: 75%;
            padding: 0 10px 10px 10px;
        }

        p {
            @include text-format-l;
        }
    }
}